@import "../../scss/resetDefault.scss";
@import "../../scss/colors.scss";

.container {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  background: $mainBgColor;
}
