@import "../../../../../../scss/colors.scss";

.ChatHeader {
  display: flex;
  padding: 10px;
  border-bottom: 1px $bordersColor solid;
  width: 100%;
  justify-content: space-between;

  &__form {
    display: flex;
    gap: 10px;

    &__button {
      border-radius: 12px;
      background: $inputsColor;
      padding: 2px 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 2px;
      background: $buttonsColor;
      font-size: 12px;
      cursor: pointer;

      &_remove{
        background: #ff0000a6;
      }
    }
  }

  &_input {
    background: $inputsColor;
    width: 100%;
    border-radius: 30px;
    padding: 4px;
    color: #1e1e1e;
  }
}
